:root {
  /* fonts */
  --font-cursive-1: "Architects Daughter", cursive;
  --font-cursive-2: "Pacifico", cursive;
  --font-cursive-3: "Roboto", sans-serif;
  --font-morse-code: "Bitcount Grid Double", system-ui;
  --font-style: "Rowdies", sans-serif;
}

body.dark {
  /* colors */
  /* Backgrounds */
  --bg-main: hsla(240, 17.39%, 9.02%, 1);
  --bg-section: #1a1a2e;
  --bg-card: #1e1b18;

  /* Text */
  --text-main: #f0f0f0;
  --text-muted: #a0a0a0;
  --text-heading: #ffffff;

  /* Accents (Buttons, highlights) */
  --accent-pink: #ec4186;
  --accent-pinkish: #d96fa5;
  --accent-orange: #e4572e;
  --accent-soft: #a45d83;
  --accent-teal: #206f66;
  --accent-soft-teal: #388980;
  --accent-rose-carol: #ff7cae;
  --accent-green: #00ff00;

  /* Extras (optional/fun) */
  --highlight: #f7cde9;
  --peach: #fadfcd;
}

body.light {
  --bg-main: #fefefe;
  --bg-section: #f4f4f4;
  --bg-card: #ffffff;

  --text-main: #1a1a1a;
  --text-muted: #666666;
  --text-heading: #000000;

  --accent-pink: #d6296e;
  --accent-pinkish: #d96fa5;
  --accent-orange: #e4572e;
  --accent-soft: #a45d83;
  --accent-teal: #206f66;
  --accent-soft-teal: #388980;
  --accent-rose-carol: #d53f7f;
  --accent-green: #009900;

  --highlight: #ffd8e8;
  --peach: #f5c8b2;
}

.toggle-button {
  position: absolute;
  right: 30px;

  width: 60px;
  height: 30px;
  padding: 0 6px;

  background-color: var(--accent-soft-teal);
  border-radius: 990px;

  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 8px var(--accent-teal);
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.toggle-button .emoji {
  font-size: 14px;
  z-index: 2;
  pointer-events: none;
  user-select: none;
}

.toggle-button .knob {
  position: absolute;
  top: 3px;
  left: 3px;

  width: 25px;
  height: 25px;
  background-color: var(--text-heading);
  border-radius: 50%;
  z-index: 1;

  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 0 5px var(--accent-pinkish);
}

.toggle-button.light-active .knob {
  transform: translateX(41px);
}

/* body */
body {
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
  color: var(--text-main);
}

/* heading section */
.heading-outer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;

  position: relative;
}

/* heading -> morse forge*/
.heading {
  background: linear-gradient(
    135deg,
    var(--accent-pink),
    var(--accent-pinkish),
    var(--accent-soft-teal),
    var(--accent-teal)
  );

  font-family: var(--font-morse-code);

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 70px;
  font-weight: 500;
  margin-top: 0px;
  padding: 10px;
}

/* logo icon */
.icon {
  height: 45px;
  width: 45px;
  filter: brightness(0) saturate(100%) invert(39%) sepia(85%) saturate(422%)
    hue-rotate(134deg) brightness(92%) contrast(88%);
}

/* Wrapper div */
.wrapper-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Outer div styling */
.Outer-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Morse Logic */
.MorseLogic {
  box-sizing: border-box;
  background-color: var(--bg-section);
  color: var(--text-main);

  border-radius: 20px;
  height: 550px;
  width: 600px;
  margin: 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.MorseHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MorseHeading h3 {
  font-family: var(--font-cursive-1);
  display: flex;

  margin: 0;
  padding: 2px;
  font-size: 30px;
}

/* Morse Form */
.MorseForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.textArea {
  width: 450px;
  height: 130px;

  background: var(--bg-main);
  border-radius: 25px;
  border: 2px solid var(--peach);

  color: var(--text-heading);
  font-family: var(--font-style);
  font-size: 20px;
  padding: 12px 16px;

  resize: none;
  outline: none;

  box-shadow: 0 0 12px rgba(32, 111, 102, 0.2);
  transition: 0.3s ease all;
}

.textArea:hover {
  border-color: var(--peach);
  box-shadow: 0 0 20px var(--accent-teal);

  transition: box-shadow 0.3s ease, border-color 0.5s ease;
}

.textArea::placeholder {
  color: var(--text-muted);
  font-family: var(--font-style);
  letter-spacing: 0.8px;
  font-size: 20px;
}

/* button grouping */
.button-group {
  display: flex;
  gap: 30px;
}
/* Copy button */
.copy-btn {
  padding: 5px 25px;
  font-size: 20px;
  font-family: var(--font-cursive-3);
  font-weight: 500;

  color: var(--bg-card);
  background-color: var(--accent-rose-carol);
  border-radius: 25px;
  border: none;

  cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: all 0.2s ease-in-out;
}

.copy-btn:hover {
  background-color: var(--accent-pinkish);
  transform: scale(1.05);
  box-shadow: 0 0 7px var(--accent-soft);
}

.copy-btn:active {
  transform: scale(0.95);
  background-color: var(--accent-orange);
  box-shadow: 0 0 7px var(--accent-orange) inset;
}

.copy-btn.copied {
  background-color: var(--accent-orange);
  box-shadow: 0 0 8px var(--accent-orange);
  transform: scale(1.05);
}

/* highlighting morse code animations */
.textarea-wrapper {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.highlight-overlay {
  position: absolute;
  top: 2px;
  left: 4px;
  padding: 12px 12px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-family: var(--font-style);
  font-size: 20px;

  color: transparent;
  white-space: pre-wrap;
  pointer-events: none;
  z-index: 1;
  background-color: transparent;
}

.highlight-overlay .highlight-char {
  background-color: var(--bg-main);
  color: var(--accent-green);
  border-radius: 4px;
  padding: 0 2px;
  animation: blink 0.3s ease-in-out;
}

.textarea-styled {
  position: relative;
  background-color: transparent;
  color: var(--text-heading);
  z-index: 2;
}

/* typewriter effect of h3 */
.typewriter {
  overflow: hidden;
  font-family: monospace;
  white-space: nowrap;
  width: 0;
  animation: typing 4s steps(25, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 17ch;
  }
}

/* Morse Reference button */
.reference-link {
  background-color: var(--accent-soft-teal);
  color: var(--text-heading);
  font-family: var(--font-style);

  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
  text-decoration: none;
  /*transform: translateY(-20px);*/

  border: 2px solid var(--text-muted);
  transition: 0.3s ease;
}

.reference-link:hover {
  background-color: var(--accent-teal);
  box-shadow: 0 0 10px var(--peach);
}

/* Morse Reference Page */
.reference-page {
  padding: 40px 20px;
  min-height: 100vh;
  text-align: center;

  color: var(--text-main);
  font-family: var(--font-style);
  background-color: var(--bg-main);
}

.reference-page h2 {
  font-size: 36px;
  margin-top: 0px;

  background: linear-gradient(
    135deg,
    var(--accent-pink),
    var(--accent-pinkish),
    var(--accent-soft-teal),
    var(--accent-teal)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-morse-code);
  letter-spacing: 2px;
}

.back-link {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;

  text-decoration: none;
  color: var(--accent-rose-carol);
  transition: all 0.3s ease-in-out;

  padding: 6px 18px;
  border-radius: 20px;
  border: 1px solid var(--accent-soft);
}

.back-link:hover {
  background-color: var(--accent-pinkish);
  color: var(--bg-card);
  box-shadow: 0 0 10px var(--accent-soft);
}

table {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid var(--accent-teal);
  box-shadow: 0 0 15px rgba(56, 137, 128, 0.4);
  background-color: var(--bg-main);
  border-radius: 12px;

  overflow: hidden;
  animation: fadeInTable 1s ease-in-out;
}

@keyframes fadeInTable {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

thead {
  background-color: var(--accent-teal);
}

thead th {
  padding: 14px;
  color: var(--peach);
  font-size: 20px;
  letter-spacing: 1px;
}

tbody td {
  padding: 12px 20px;
  font-size: 18px;
  border-top: 1px solid var(--text-main);
  color: var(--peach);
}

tbody tr {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

tbody tr:hover {
  transform: scale(1.03);
  background-color: var(--accent-soft-teal);
  color: var(--bg-main);
  box-shadow: 0 0 12px var(--accent-green);
}

/* Facts styling */
.facts {
  width: fit-content;
  padding: 30px 10vw;
  margin-top: 40px;
  margin-bottom: 40px;

  color: var(--text-main);
  font-family: var(--font-style);
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 1.8;

  text-align: center;
  border-top: 2px dashed var(--accent-pinkish);
  border-bottom: 2px dashed var(--accent-pinkish);
  border-left: 2px dashed var(--accent-pinkish);
  border-right: 2px dashed var(--accent-pinkish);

  box-shadow: inset 0 0 12px rgba(0, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  animation: fadeInFact 1s ease;
}

.facts:hover {
  box-shadow: 0 0 18px var(--accent-soft-teal);
  transform: scale(1.01);
}

/* Media Queries*/
@media (max-width: 1200px) {
  .Outer-divs {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .MorseLogic {
    width: 635px;
    height: 550px;
    margin: 20px 0;
    transform: scale(0.9);
  }

  .textArea {
    width: 500px;
    height: auto;
    min-height: 130px;
  }

  .heading {
    font-size: 54px;
    text-align: center;
  }

  .MorseHeading h3 {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .highlight-overlay {
    position: absolute;
    top: 2px;
    left: 4px;
    padding: 12px 12px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    font-family: var(--font-style);
    font-size: 20px;

    color: transparent;
    white-space: pre-wrap;
    pointer-events: none;
    z-index: 1;
    background-color: transparent;
  }
}
